*.ss~
*.ss#*
.#*.ss

*.scm~
*.scm#*
.#*.scm

*.x
*~
*.log
*.go
*.la
*.o
*.lo
autom4te.cache/
build-aux/
!build-aux/config.rpath
Makefile
Makefile.in
/configure
/config.status
/config.log
/aclocal.m4
/compile
/config.guess
/config.sub
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/config.rpath
/m4
.deps
.libs
/src/.dir-locals.el
/modules/pre-install-env